<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.username">gyxtucboengfyq</property>
        <property name="hibernate.connection.password">2476f1e2b7474f8e2b440b755a82ade63eb7421306ea7d5e61c328da5ffd6976</property>
        <property name="hibernate.connection.url">jdbc:postgresql://ec2-52-200-5-135.compute-1.amazonaws.com/df9o8qhhhdfp63</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>

        <property name="hibernate.jdbc.batch_size">10</property>

        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="ua.com.andromeda.model.Lesson"/>
        <mapping class="ua.com.andromeda.model.Group"/>
        <mapping class="ua.com.andromeda.model.Mark"/>
        <mapping class="ua.com.andromeda.model.Student"/>
        <mapping class="ua.com.andromeda.model.Teacher"/>
    </session-factory>
</hibernate-configuration>